@page "/Cars/Details"
@using WebApp.Interfaces
@model WebApp.Pages.Cars.DetailsModel
@inject ICar CarRepository

<script src="~/js/carousel.js"></script>
<link rel="stylesheet" href="~/css/rent.css" />


<h1>Details</h1>

<div>
    <h4>Car</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Model)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Model)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Brand)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Brand)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Year)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Year)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.Price)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Car.Price)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Car.ImagePath)
        </dt>
       <div class="carousel" id="@($"carousel_{Model.Car.CarId}")">
            <div class="carousel-inner">
                @for (var i = 0; i < Model.Car.ImagePath.Count; i++)
                {
                    <div class="carousel-item @(i == 0 ? "active" : "")">
                        <img class="d-block w-100" src="@Model.Car.ImagePath[i]" alt="Image @(i + 1)">
                    </div>
                }
            </div>
            <a href="javascript:void(0);" onclick="showPreviousImage('@($"carousel_{Model.Car.CarId}")')" class="carousel-control-prev">&lt;</a>
            <a href="javascript:void(0);" onclick="showNextImage('@($"carousel_{Model.Car.CarId}")')" class="carousel-control-next">&gt;</a>
        </div>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model?.Car.CarId">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}