@page "/Cars/Index"
@using WebApp.Interfaces
@model WebApp.Pages.Cars.IndexModel
@inject ICar CarRepository

<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="display-4 text-center mb-4">Explore Our Cars</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center">
                <a asp-page="./Create" class="btn btn-primary btn-lg">Add a New Car</a>
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="table-responsive">
                <table class="table table-bordered table-hover">
                    <thead class="thead-dark">
                        <tr>
                            <th>Model</th>
                            <th>Brand</th>
                            <th>Year</th>
                            <th>Price</th>
                            <th>ImageFiles</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var car in Model.Cars)
                        {
                            <tr>
                                <td>@Html.DisplayFor(modelItem => car.Model)</td>
                                <td>@Html.DisplayFor(modelItem => car.Brand)</td>
                                <td>@Html.DisplayFor(modelItem => car.Year)</td>
                                <td>@Html.DisplayFor(modelItem => car.Price)</td>
                                <td>
                                    <div class="image-container">
                                        @if (car.ImagePath.Any())
                                        {
                                            <img src="@Url.Content(car.ImagePath.First())" alt="Car Image" class="car-image">
                                        }
                                    </div>
                                </td>
                                <td>
                                    <div class="btn-group" role="group" aria-label="Car Actions">
                                        <a asp-page="./Edit" asp-route-id="@car.CarId", new class = "btn btn-warning">Edit</a>
                                        <a asp-page="./Details" asp-route-id="@car.CarId", new class = "btn btn-info">Details</a>
                                        <a asp-page="./Delete" asp-route-id="@car.CarId", new class = "btn btn-danger">Delete</a>
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<style>
    .car-image {
        max-width: 200px;
        max-height: 150px;
        margin-right: 5px;
        margin-bottom: 5px;
    }

    .image-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .btn-group {
        display: flex;
        justify-content: center;
    }

    .btn {
        margin-right: 5px;
    }
</style>
